$date__text = #9d9ca8
$date--today = #28205a
$date-shadow = #dedede
.calendar
    display flex
    justify-content flex-start
    align-items flex-start

    &-title
        position relative
        top 10px
        transform rotate(-90deg)

    &-body
        display flex
        flex-direction column
        justify-content center

        &__week
            display flex
            flex-direction row
            justify-content space-around
            align-items center

        &__day
            display flex
            justify-content center
            align-items center
            height 30px
            width 30px
            font-size 14px
            color $date__text

            &--today
                height 40px
                width 40px
                background-color $date--today
                color #fff
                box-shadow -2px 4px 10px $date-shadow