.contact-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 300px;
    width: auto;
}

.contact-form__name,
.contact-form__email,
.contact-form__phone > input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 10px;
}