.sidebar
    &-btn
        display flex
        justify-content center
        align-items center
        height 30px
        width 30px
        margin 30px
        border solid 1px #3e966c
        border-radius 50%
        color #3e966c
        cursor pointer