.sidebar
    position absolute
    height 100%
    width 150px
    top 0
    left -150px
    background-color #ccc
    -webkit-transform translateX(150px)
    transform translateX(150px)
    transition transform 300ms linear
    will-change transform
    z-index 150
    &-btn
        display flex
        justify-content center
        align-items center
        height 30px
        width 30px
        margin 30px
        border solid 1px #3e966c
        border-radius 50%
        color #3e966c
        cursor pointer
    &__link
        display flex
        flex-direction column
        justify-content center
        text-decoration none